h1{
	text-align: center;
	color:red;
}
.row{
	width:100%;
}
<!--for large devices-->
		@media only screen and (min-width: 992px){
			.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
				float:left;
				}  
			.col-lg-1{
				weidth:8.33%;
			}
			.col-lg-2{
				weidth:16.66%;
			}
			.col-lg-3{
				weidth:25%;
			}
			.col-lg-4{
				weidth:33%;
			}
			.col-lg-5{
				weidth:41.66%;
			}
			.col-lg-6{
				weidth:50%;
			}
			.col-lg-7{
				weidth:58.33%;
			}
			.col-lg-8{
				weidth:66.66%;
			}
			.col-lg-9{
				weidth:74.99%;
			}
			.col-lg-10{
				weidth:83.33%;
			}
			.col-lg-11{
				weidth:91.66%;
			}
			.col-lg-12{
				weidth:100%;
			}
		}
	<!-- for medium screen-->
		@media only screen and (min-width: 768px) and (max-width: 991px){
			.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
				float:left;
				}  
			.col-md-1{
				weidth:8.33%;
			}
			.col-md-2{
				weidth:16.66%;
			}
			.col-md-3{
				weidth:25%;
			}
			.col-md-4{
				weidth:33%;
			}
			.col-md-5{
				weidth:41.66%;
			}
			.col-md-6{
				weidth:50%;
			}
			.col-md-7{
				weidth:58.33%;
			}
			.col-md-8{
				weidth:66.66%;
			}
			.col-md-9{
				weidth:74.99%;
			}
			.col-md-10{
				weidth:83.33%;
			}
			.col-md-11{
				weidth:91.66%;
			}
			.col-md-12{
				weidth:100%;
			}
		}
	<!--for small devices-->
		@media only screen and (max-width: 768px){
			.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
				float:bottom;
				} 
			.col-sm-1{
				weidth:8.33%;
			}
			.col-sm-2{
				weidth:16.66%;
			}
			.col-sm-3{
				weidth:25%;
			}
			.col-sm-4{
				weidth:33%;
			}
			.col-sm-5{
				weidth:41.66%;
			}
			.col-sm-6{
				weidth:50%;
			}
			.col-sm-7{
				weidth:58.33%;
			}
			.col-sm8{
				weidth:66.66%;
			}
			.col-sm-9{
				weidth:74.99%;
			}
			.col-sm-10{
				weidth:83.33%;
			}
			.col-sm-11{
				weidth:91.66%;
			}
			.col-sm-12{
				weidth:100%;
			}
		}
.row > div{
	background-color: gray;
	border:2px solid red;
	text-align: right;
}
* {
	box-sizing: border-box;
}

#div1{
	
	border-left:2px solid green;
	border-bottom:2px solid green;
	color: yellow;
	float:right;
	margin-right:-12px;
	padding:10px;
	
}
#div2{
	
	border-left:2px solid green;
	border-bottom:2px solid green;
	color: yellow;
	float:right;
	margin-right:-12px;
	padding:10px;
	
}
#div3{
	
	border-left:2px solid green;
	border-bottom:2px solid green;
	color: yellow;
	float:right;
	margin-right:-12px;
	padding:10px;
}
p{
	text-align:left;
	color:cyan;
	margin-left:auto;
	margin-right:auto;
}